.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem 1.5rem;
  max-width: 114rem;
  width: 100%;
  height: 7.3rem;
  top: 4.6rem;
  z-index: 1;
  margin-bottom: 9rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    right: 3rem;
  }
}
@media (max-width: 425px) {
  .container {
    right: 3.4rem;
  }
}
@media (max-width: 375px) {
  .container {
    right: 2rem;
  }
}
@media (max-width: 320px) {
  .container {
    left: 4.7rem;
    margin-bottom: 3rem;
  }
}
.logo_wrapper {
  grid-column: 1/3;
  grid-row: 1/1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 0.8rem;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .logo_wrapper {
    display: none;
  }
}
@media (max-width: 425px) {
  .logo_wrapper {
    display: none;
  }
}
.logo_icon {
  grid-column: 1/3;
  grid-row: 1/1;

  max-width: 3.5rem;
  height: 2.4rem;
  width: 100%;
  background: url('../../../img/icon.png') no-repeat;
}
.logo_title {
  grid-column: 2/-1;
  grid-row: 1/1;
  max-width: 9.7rem;
  height: 1.5rem;
  margin-left: 0.8rem;
  width: 100%;
  background: url('../../../img/title.png') no-repeat;
}
.logo_wrapper > p {
  grid-column: 1/-1;
  grid-row: 2/2;
  color: #e4e5ea;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.service_wrapper {
  grid-column: 3/9;
  grid-row: 1/1;
  display: flex;
  gap: 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .service_wrapper {
    grid-column: 2/9;
  }
}
@media (max-width: 425px) {
  .service_wrapper {
    grid-column: 2/9;
  }
}
.service_wrapper > p {
  color: var(--light-text, #e4e5ea);
  font-family: Inter;
  font-size: 1.6rem;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social_wrapper {
  grid-column: 9/-1;
  grid-row: 1/1;
  display: flex;
}

@media (max-width: 375px) {
  .decore_none {
    display: none;
  }
  .service_wrapper > p {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  .service_wrapper {
    grid-column: 2/-1;
  }
}

@media (max-width: 320px) {
  .service_wrapper {
    grid-column: 1/-1;
  }
  .service_wrapper > p {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .social_wrapper {
    grid-column: 11/-1;
  }
}
@media (max-width: 425px) {
  .social_wrapper {
    display: none;
  }
}
.social_wrapper > p {
  margin-right: 4.7rem;
  color: var(--light-text, #e4e5ea);
  text-align: right;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 1.6rem;
  margin-left: 7.5rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .social_wrapper > p {
    margin-right: 4.7rem;
    color: var(--light-text, #e4e5ea);
    text-align: right;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 1.6rem;
    margin-left: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .social_wrapper > p {
    display: none;
  }
}

.social_wrapper > svg {
  margin-right: 3rem;
  margin-top: 1.5rem;
}
.social_wrapper > svg:nth-child(4) {
  margin-right: 0;
}
